@import 'settings.colors';
@import 'settings.fonts';
@import 'settings.keyframes';

.player-tile {
    overflow: hidden;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-top: -25%;
    z-index: 5;
    animation: 1.5s fadeIn;
}

.tile-container {
    position: relative;
    display: inline-block;
    width: calc(19.5% - 20px);
    margin: 10px;
    background-color: $mainColor;
    transform: translateY(0) scale(1);
    transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    color: #FFF;
    font-weight: bold;
    font-family: $secondaryFontFamily;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $secondaryColor;

        .player-description {
            opacity: 1;
        }

        .player-image {
            filter: grayscale(100%);
            mix-blend-mode: multiply;
        }
    }
}

.player-image {
    width: 100%;
    height: auto;
}

.player-position {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    font-size: 16px;
}

.player-description {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0,-50%);
    z-index: 1;
    transition: all .25s ease;
    background: transparent;
    opacity: 0;

    h2 {
        font-size: 1.5em;
        display: inline-block;
        text-align: center;
        padding: 0;
        width: 100%;
        line-height: 1;
        letter-spacing: 4px;
    }
}